@import url('general.css');

body {
    background-color: var(--colorBackground);
}

#login {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 25px 0;
    padding: 55px;
    height: fit-content;
    width: 30%;
    margin-top: 200px;
    border: var(--borders);
    border-radius: 8px;
    color: var(--primale3);
}

#login img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-top: -112px;
}

#login .form {
    display: flex;
    flex-direction: column !important;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    align-content: center;
    height: fit-content;
    width: 400px;
}

.form label {
    background-color: transparent;
    border: none;
    display: block;
    margin: 0 auto;
    font-weight: bold;
}

.form input {
    margin-bottom: 15px;
}

.form input, .form button {
    display: block;
}

section#login a {
    color: var(--successo1);
}

section#login a:hover {
    color: var(--primale2);
}

a.other {
    display: block;
    margin: 0 auto;
    text-align: center;
}

#login b, #login a {
    font-family: var(--testo);
}

@media screen and (max-width: 1044px) {
    #login {
        width: 50%;
    }
}

@media screen and (max-width: 900px) {
    #login {
        width: 60%;
    }
}

@media screen and (max-width: 500px) {
    #login {
        width: 70%;
    }
}