@import url(general.css);

section {
    width: 70%;
}

h1 {
    text-align: center;
    color: var(--primale1);
    font-size: 40px;
    font-weight: bold;
    line-height: 40px;;
}

p {
    margin-top: 30px;
    text-align: center;
    color: var(--primale3);
    font-size: 30px;
    font-weight: lighter;
}

button {
    display: block;
    margin: 30px auto 0;
    width: 15%;
}