@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@600&display=swap');

:root {
    --primale1: #753750;
    --primale2: #b36d89;
    --primale3: #e4d7b7;
    --secondario1: #6e585d;
    --secondario2: #9b889b;
    --secondario3: #c7c0d1;
    --informativo1: #b0665b;
    --informativo2: #ffe5dd;
    --errore1: #214a80;
    --errore2: #00c9bd;
    --successo1: #ffcfcb;
    --successo2: #566077;
    --titolo: 'Open Sans', sans-serif;
    --testo: 'Montserrat', sans-serif;
    --titolo-size: 40px;
    --testo-size: 20px;
}

body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--titolo);
    color: var(--primale2);
    margin: 0;
}

p {
    font-family: var(--testo);  
}

section {
    padding: 20px;
    margin-top: 150px;
    background-color: var(--secondario1);
}

ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}
