@import url('general.css');

section#login {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 25px 0;
    padding: 55px;
    height: fit-content;
    width: fit-content;
    margin-top: 200px;
    border: var(--borders);
    border-radius: 8px;
    color: var(--primale3);
}

section#login img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-top: -112px;
}

section#login div.form {
    display: flex;
    flex-direction: column !important;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    align-content: center;
    height: fit-content;
    width: 400px;
}

div.form input {
    margin-bottom: 15px;
}

div.form input, div.form button {
    display: block;
}

section#login a {
    color: var(--successo1);
}

section#login a:hover {
    color: var(--primale2);
}

a.other {
    display: block;
    margin: 0 auto;
    text-align: center;
}