@import "general.css";

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: var(--successo1);
}

ul.navBar li {
    margin: 0px 10px;
}

ul.navBar:first-of-type {
    margin-left: 20px;
}

ul.navBar:last-of-type {
    margin-right: 20px;
}

ul.navBar li {
    display: inline-block;
}

img.navBar {
    height: 20px;
}