@import url(general.css);

body {
    padding-top: 70px;
}

img#propic {
    display: block;
    margin-top: -100px;
    border-radius: 50% 50%; 
    width: 140px;
    height: 140px;
    background-color: #ebc8bf; 
}

/*informazioni utente*/

.information {
    display: block;
    margin-left: 140px;
    margin-top: -70px;
    width: fit-content;
}

p.nome {
    margin: 30px 0 0 10px;
    font-size: 50px;
    letter-spacing: 1px;
    text-align:center;
    line-height: 0.8em;
}

p.categoria {
    margin-top: 5px;
    margin-left: 10px;
    font-size: 25px;
    font-style: italic;
    font-weight: 300;
}

p.bloccato {
    display: none;
    margin-top: 5px;
    margin-left: 10px;
    font-style: italic;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/*sezione publicazione post*/
#publish {
    width: 100%;
    margin: 0 auto;
}

#publish textarea {
    display: block;
    margin: 0px auto;
    border: 3px solid var(--primale1);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 98%;
    height: 120px;
    resize: none;
}

#publish label {
    display: inline-block;
    position: relative;
    top: -0.08em;
    border-top-width: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

#publish input[type=submit] {
    position: relative;
    top: -1px;
    float: right;
    margin-right: -3px;
    border: 3px solid var(--primale1);
    border-top-width: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    height: 36px;
}

div#post {
    display: block;
    height: fit-content;
    margin: 0 auto;
    margin-top: 30px;
    border: 3px solid var(--primale1);
    border-radius: 8px;
    padding: 15px;
    background-color: var(--primale3);
}

div#post img {
    width: 70px;
    height: 70px;
    border-radius: 50% 50%; 
    background-color: #ebc8bf; 
}

div#post div {
    margin-top: -80px;
    margin-left: 70px;
    padding: 10px;
    width: fit-content;
}

div#post p.nome {
    margin: 0;
    margin-left: 10px;
    font-size: 25px;
}

div#post p.categoria {
    font-size: 15px;
}

div#post p.bloccato {
    display: none;
    margin-top: -2px;
    font-size: 10px;
}

div#post p.text {
    display: block;
    margin: 20px;
    margin-top: 10px;
    font-size: 17px;
    text-align: justify;
}

div#post button {
    margin: 0;
    float: right;
}

#post div#commento {
    display: none;
    width: 100%;
    height: 81px;
    margin: 0 auto;
    margin-top: 10px;
    padding: 0;
}

#post #commento textarea {
    display: block;
    margin: 0 auto;
    border: 3px solid var(--primale1);
    border-bottom-right-radius: 0px;
    width: 97%;
    height: 30px;
    resize: none;
}

#post div#commento input[type=submit] {
    display: block;
    top: -1px;
    float: right;
    margin-right: 3px;
    border: 3px solid var(--primale1);
    border-top-width: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    height: 36px;
}

/* Stelle */
div#post div.stars {
    display: inline-block;
    margin: 0px;
    padding: 0;
    vertical-align: middle;
}

div#post div.stars img {
    width: 30px;
    height: 30px;
    float: left
}


/*
@media(min-width:768px) {
    
}

@media(max-width:768px) {


}
*/